input, input::placeholder {
    width: auto !important;
    font-size: 20px !important;
    min-height: 38px !important;
    border-radius: 4px !important;
    padding: 8px !important;
}

input::placeholder {
    color: hsl(0,0%,50%);
}

input:hover {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.game-filters {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 3px solid white;
    background-color: rgba(255, 255, 255, 0.5);
}

.full-width {
    width: 100% !important;
}