.navbar {
  padding: 0 !important;
}

.navItem-active {
  z-index: 1;
  background-color: red;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

li.nav-item.dropdown div {
  display: none;
}
li.nav-item.dropdown:hover div {
  display: block;
  background-color: black;
  opacity: 0.9;
}

.nav-link {
  background-color: transparent;
  color: white; 
  border: none;
  cursor: pointer;
  /* text-decoration: underline; */
  /* padding: 0 1rem !important; */
  display: inline;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .nav-link {
    padding: 0 5px !important;
  }
}

li a {
  margin: 0 !important;
  text-align: center;
}

.dropdown-menu.dropdown-menu-right {
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
}

.row-full {
  /* position: fixed; */
  width: 100%;
  margin: 0 auto;
  text-align: center;
}