/* ELEMENTS */
html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  background: url(/public/img/bg.jpg);
  background-size: 100%;
  background-position: top;
  background-color: #95e8f3;
  min-height: 100%;
}

img {
  height: 100%;
  width: 100%;
}

div {
  font-size: 20px;
  font-weight: 400;
}

form {
  padding: 20px;
  margin-top: 80px;
}

form button,
form h5 {
  margin: 20px 0;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #eb2f96;
  box-shadow: none;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
  color: #eb2f96 !important;
}

.modal.fade.show {
  background: none;
  max-height: calc(100% - 64px);
  max-width: 100%;
  margin-top: 64px;
}

/* SECTION SPACING AND Z-INDEX */
.nav-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
}

.container.section,
.container.dashboard {
  margin-top: 64px;
  z-index: 0;
}

/* FONT STYLES */
.small-text {
  font-size: 16px;
}

.bold {
  font-weight: 700 !important;
  font-weight: bold !important;
  font-size: 24px !important;
}

/* SPACIAL CLASSES */
.card .card-content {
  padding: 16px;
}

.opacity {
  opacity: 0.9;
}

.message-input {
  display: inline-flex;
}

.no-margin {
  margin: 0;
}

.container {
  width: 100%;
}

.message-list,
.notifications {
  height: 250px;
  overflow: scroll;
}

.game-details {
  padding: 20px;
}

.message-input {
  display: flex;
}

.input-field {
  width: 100%;
}

.list-container {
  height: 150px;
  width: 100%;
  overflow: hidden;
  border: 1px solid grey;
}

.game-summary {
  height: 150px;
}

.mar-auto {
  margin: auto !important;
  padding-top: 16px;
}

@media screen and (max-width: 1024px) {
  .brand-logo {
    left: 60px !important;
  }
}

.leaveGameButton {
  margin-left: 15px;
}

.editGameButton {
  margin-left: 15px;
}

a:hover {
  color: #fff !important;
}

.mar-0 {
  margin: 0 !important;
}

.padRight-0 {
  padding-right: 0 !important;
}

.padLeft-0 {
  padding-left: 0 !important;
}

.padLeft-20 {
  padding-left: 20px;
}

.pad-50 {
  padding: 50px;
}

.inlineBlock {
  display: inline-block !important;
}

.mapContainer {
  width: 100vw;
  height: calc(100vh - 50px);
  margin-top: 50px;
}

@media only screen and (min-width: 601px) {
  .mapContainer {
    width: 100vw;
    height: calc(100vh - 64px);
    margin-top: 64px;
  }
}

.bottomLeft {
  position: fixed;
  bottom: 25px;
  left: 25px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 15px;
}

.flexbox .board {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  background-color: #313131;
  padding: 15px;
}

.flexbox .board .card {
  padding: 15px 25px;
  background-color: #f3f3f3;
  cursor: pointer;
  margin-bottom: 15px;
}

/* PREVENTS DATEPICKER FROM FLOAT LEFT */
.react-datepicker__month-container {
  float: none !important;
}

/* KEEPS MONTH NAV BUTTONS AT TOP */
.react-datepicker__navigation {
  top: 0 !important;
} 

/* KEEPS MONTH NAV BUTTONS BLACK */
.react-datepicker__navigation--previous {
    border-right-color: #000000 !important;
}
.react-datepicker__navigation--next {
  border-left-color: #000000 !important;
}

/* STYLES DATEPICKER HEADER */
.react-datepicker__header {
  background-color: #fa8c16 !important;
  border-bottom: 2px solid #8E8564 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important ;
  padding-top: 8px !important;
}

/* STYLES DATEPICKER BODY */
.react-datepicker {
  background-color: #1890ff   !important;
  border: 0px !important;
  border: 2px solid #8E8564 !important;
}